@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap');

:root {
    /* font and typography */
    --h1-font-size: 1.5rem;   /* 24px */
    --h2-font-size: 1.25rem;  /* 20px */
    --h3-font-size: 1rem;     /* 16px */
    --smallest-font-size: .875rem; /* 12px */

    /* margin */
    --m-2: 2rem; /* 32px */
    --m-1-5: 1.5rem; /* 24px */
    --m-1-25: 1.25rem; /* 20px */ 
    --m-1: 1rem;  /* 16px */
    --m-0-75: .75rem; /* 12px */

    /* colors */
    --body-color: #f7f7f7;
    --black-color: #2e2e2e;
    --grey-color: #7a7a7a;
    --orange-color: #dd783f;
    --title-color: #ffffff;
    --title60-color: rgba(255,255,255,0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 400;
    font-family: 'Lora', serif;
}

p, button, span, a {
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
}

.container {
    max-width: 940px;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

button:hover,
a:hover {
    cursor: pointer;
}

header {
    background: url("../img/header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--m-2) 0;
}

ul {
    display: flex;
    column-gap: 40px;
}

.grid {
    display: grid;
}

.nav__logo {
    font-size: var(--h1-font-size);
    line-height: var(--m-1-5);
    color: var(--title-color);
}

.nav__link {
    font-size: var(--h2-font-size);
    line-height: var(--m-1-25);
    color: var(--title-color);
}

.nav__close,
.nav__toggle {
    color: var(--title-color);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.header__info {
    padding: 100px 0 150px 0;
    text-align: center;
}

.header__title {
    font-size: 50px;
    line-height: 51px;
    color: var(--title-color);
}

.header__description {
    font-size: var(--h2-font-size);
    line-height: var(--m-1-25);
    color: var(--title60-color);
    margin: 20px 0 32px 0; 
}

.header__btn {
    padding: 12px 31px;
    background-color: var(--orange-color);
    color: var(--title-color);
}

.search {
    padding: 10px 0;
    background-color: #e9e9e9;
}

.search form {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.search__input {
    background-color: var(--title-color);
    width: 100%;
    padding: 10px;
    font-size: var(--h1-font-size);
    box-shadow: inset 0 0 0 1px #e3e3e3, inset 1px 2px 5px rgb(0 0 0 / 20%);
}

.search__btn {
    position: absolute;
    right: 12px;
    top: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--title-color);
}

.search form img {
    width: 35px;
    height: 35px;
}

.main {
    background-color: var(--body-color);
}

.featured {
    text-align: center;
    padding: 60px 0;
}

.featured__boxes {
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--m-1-25);
    text-align: start;
}

.title {
    font-size: var(--h2-font-size);
    line-height: var(--m-1-5);
    padding: var(--m-1);
    border-bottom: 1px solid var(--grey-color);
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: var(--m-1-25);
}

.featured__box {
    padding: 20px;
}

.featured__box1 {
    background: url('../img/featured1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.featured__box2 {
    background: url('../img/featured2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.featured__title {
    font-size: var(--h1-font-size);
    line-height: var(--m-2);
    color: var(--title-color);
    margin-top: 111px;
}

.category {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: var(--smallest-font-size);
    line-height: var(--m-0-75);
    color: var(--title-color);
    background-color: var(--orange-color);
    padding: 6px 9px;
    border-radius: 2px;
}

.featured__description {
    font-size: var(--smallest-font-size);
    line-height: var(--m-1-5);
    color: var(--title60-color);
    margin: 6px 0 12px 0;
}

.date {
    font-size: var(--smallest-font-size);
    line-height: var(--m-2);
}

.featured__date {
    color: var(--title60-color);
}

.mostrecent {
    padding: 67px 0 108px 0;
    text-align: center;
}

.mostrecent__title {
    font-size: var(--h2-font-size);
    line-height: var(--m-1-25);
    color: #101315;
}

.mostrecent__description {
    font-size: var(--smallest-font-size);
    line-height: var(--m-1-25);
    color: var(--grey-color);
    margin: 6px 0;
}

.mostrecent__box-middle {
    background-color: #fcfcfc;
    padding: var(--m-0-75);
}

.mostrecent__boxes {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--m-1-5);
    text-align: start;
}

.mostrecent__box img {
    width: 100%;
}

.mostrecent__box-bottom {
    padding: var(--m-0-75);
    border-top: 1px solid #efefef;
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
}

footer {
    background: url('../img/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.signup {
    text-align: center;
    padding: 85px 0;
}

.signup h1 {
    font-size: var(--h1-font-size);
    line-height: var(--m-2);
    color: var(--title-color);
}

.signup form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup input {
    padding: 18px 35px;
    width: 33%;
}

.signup button {
    font-size: var(--smallest-font-size);
    line-height: var(--m-1);
    padding: 18px 44px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    color: #F8F8F8;
}

@media screen and (max-width: 980px) {
    .container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    
    .nav__link {
        font-size: var(--h3-font-size);
    }

    .featured__boxes {
        grid-template-columns: repeat(1, .75fr);
        row-gap: var(--m-1-25);
        justify-content: center;
    }

    .mostrecent__boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .signup input {
        width: 50%;
    }   
}

@media screen and (max-width: 770px) {
    .container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .header__title {
        font-size: 40px;
        line-height: 41px;
    }

    .header__info {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav {
        padding: var(--m-1) 0;
    }

    .nav__menu {
        width: 100%;
        position: absolute;
        top: -150%;
        left: 0;
        background-color: var(--title-color);
        transition: .4s;
        border-radius: 0 0 20px 20px;
        padding: 30px 0;
    }

    .nav__list {
        flex-direction: column;
        row-gap: var(--m-1-5);
        align-items: center;
    }

    .nav__link,
    .nav__close {
        color: var(--orange-color);
        font-weight: 600;
        letter-spacing: 1px;
    }

    .nav__close {
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

    .nav__toggle,
    .nav__close {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search__input {
        font-size: var(--h3-font-size);
    }

    .search form img {
        width: 27px;
        height: 27px;
    }

    .header__info {
        padding: 30px 0 40px 0;
    }
}

@media screen and (max-width: 520px) {
    .header__title {
        font-size: 30px;
        line-height: 31px;
    }
    
    .header__description {
        font-size: var(--h3-font-size);
        line-height: var(--m-1);
    }

    .featured__boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .mostrecent__boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .signup input {
        width: 65%;
    }

    .signup button {
        padding: 18px 30px;
    }
}

.show-menu {
    top: 0;
}